<!-- about part here-->
<section class="about_part padding_bottom overflow-hidden">
    <div class="container-fluid p-lg-0">
        <div class="row align-items-center justify-content-end">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="about_text">
                    <h2>Coach PY. &nbsp; Une équipe dédié à vos jeunes depuis 2015.</h2>
                    <p>Notre organisation est formée de joueurs actifs et de directeurs techniques qui ont œuvré dans différentes organisations, autant de niveau 
                        participatif que compétitif.</p>
                    <p>Pour garantir une qualité de service hors pair,notre équipe se complète avec un HeadCoach ayant plus de 20 d'expérience comme entraineur, 
                        directeur technique, préparateur sportif et spécialiste en power skating.</p>
                    <a href="#" class="btn_1">Voir nos Produits et Services</a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-6">
                <div class="about_img">
                    <img src="img/about_img.png" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about part end-->



