 <!-- banner part start-->
 <section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <p>Effort, Persévérance & Développement</p>
                        <h1>Coach PY <small><br>École <small>de</small> Hockey</small></h1>
                        <a href="/services" class="btn_1">Voir tous nos Services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->