 <!-- become a member part here -->
 <section class="become_member section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="become_member_text">
                    <h2>Et beaucoup plus encore!</h2>
                    <p>Vous désirez tout savoir, recevoir les dernières nouvelles, être à l'affut des récentes techniques de coaching et partager avec nous au sujet de cette passion sur glace?</p>
                    <a href="#" class="btn_1">Devenir membre</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- become a member part end -->