<!-- our client review part start-->
<section class="client_review padding_bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section_title text-center">
                    <h2>Commentaires de nos Clients</h2>
                    <p>Nous apprécions avoir une proximité avec notre clientèle, cela nous permet de mieux répondre à vos besoins <br>tout en s'améliorant constamment.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="client_review_iner owl-carousel">
                    <div class="client_review_single">
                        <img src="img/client/client.png"  alt="">
                        <h4>Cristian Roy</h4>
                        <span>Client</span>
                        <p>Nathan a adoré. Le camp est très intense et structuré. Les coachs sont très attentifs aux détails. Nous serons de retour l'an prochain.</p>
                    </div>
                    <div class="client_review_single">
                        <img src="img/client/client.png" alt="">
                        <h4>Geneviève Ouellet</h4>
                        <span>Cliente</span>
                        <p>Merci à toute l’équipe du camp de ringuette... une superbe expérience à renouveler!</p>
                    </div>
                    <div class="client_review_single">
                        <img src="img/client/client.png" alt="">
                        <h4>Sébastien Pelletier</h4>
                        <span>Client</span>
                        <p>Très dynamique... c'est une belle expérience!</p>
                    </div>
                    <div class="client_review_single">
                        <img src="img/client/client.png" alt="">
                        <h4>Etienne Belanger</h4>
                        <span>Joueur</span>
                        <p> Merci de m'avoir donné cette expérience inoubliable</p>
                    </div>
                    <div class="client_review_single">
                        <img src="img/client/client.png" alt="">
                        <h4>Dominique Blais</h4>
                        <span>Cliente</span>
                        <p>Super intense, coachs très attentifs! Enseignement personnalisé. Mon fils adore!</p>
                    </div>
                    <div class="client_review_single">
                        <img src="img/client/client.png" alt="">
                        <h4>Caroline Côté</h4>
                        <span>Cliente</span>
                        <p>Wow!!! Un énorme merci à toute l'équipe de COACH PY pour ce merveilleux camp de ringuette. Première expérience pour ma fille à la ringuette 
                            et quel changement en moins de 4 jours. Vous avez une belle énergie et une passion du sport. 
                            Que demander de plus que voir son enfant sortir de la patinoire avec un large sourire...mission accomplie et elle a déjà hâte au prochain camp.</p>
                    </div>
                    <div class="client_review_single">
                        <img src="img/client/client.png" alt="">
                        <h4>Marie-Ève Rhéaume</h4>
                        <span>Cliente</span>
                        <p>WoW! Quelle belle intensité! Nous sommes plus que satisfait du camp de ringuette! Les filles travaillent fort avec le sourire, c’est super! 
                            Les sœurs Leblond adorent votre camp et vous avez maintenant des nouvelles adeptes. Merci!</p>
                    </div>
                    <div class="client_review_single">
                        <img src="img/client/client.png" alt="">
                        <h4>Bill Noonan</h4>
                        <span>Client</span>
                        <p> Une belle structure d'encadrement et une belle énergie sur la patinoire. Très heureux d'avoir effectué votre connaissance au tournoi de 
                            ringuette de Lévis et d'avoir inscrit nos filles à votre camp! Keep up the good work soldier! Vous gagnez vraiement à être connu! 👍🏻</p>
                    </div>
                    <div class="client_review_single">
                        <img src="img/client/client.png" alt="">
                        <h4>Jean-Simon Roy</h4>
                        <span>Client</span>
                        <p> Encore une fois , je n'ai que de bons mots pour toute l'équipe de Coach PY.Nous espérons bien que le camp de jour de ringuette 
                            deviendra réalité en août 2018, je dis nous car mes filles en redemandent déjà et moi en tant que coach ds ce sport , j'ai vu la 
                            progression constante des joueuses au cours des cliniques cette semaine. Merci d'aider nos filles et LEUR sport!!! à progresser.</p>
                    </div>
                    <div class="client_review_single">
                        <img src="img/client/client.png" alt="">
                        <h4>Nancy Boivin</h4>
                        <span>Cliente</span>
                        <p> Excellente clinique! Ateliers variés bon niveau de complexité bref c est un wow!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"> </script>

<script src="js/client_review.js"></script>

<!-- our client review part end-->