<section class="our_feature section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center">
                    <h2>Pourquoi nous choisir</h2>
                    <p>Les cliniques du Coach PY sont basées sur le dépassement de soi, le développement, le travail et l'effort. Notre équipe passionnée 
                        perfectionnera les techniques des joueurs de niveau novice à peewee. Le tout en s'amusant!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature">
                    <img src="img/icon/feature_icon_1.png" alt="#">
                    <h4>Entrainement de Qualité</h4>
                    <p>Avec un focus sur la progression et l'intensité, nous offrons des entrainements variés et dynamiques, le tout dans un environnement 
                        de respect et plaisir. </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature">
                    <img src="img/icon/feature_icon_2.png" alt="#">
                    <h4>Disponibilités Flexibles</h4>
                    <p>Une multitude de camps variés, de services personalisés et de coaching privé pour répondre à vos besoins en considérant les contrainte 
                        de temps de la vie d'aujourd'hui</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature">
                    <img src="img/icon/feature_icon_3.png" alt="#">
                    <h4>Entraineurs Qualifiés</h4>
                    <p>Une équipe certifiée en constante recherche d'innovation pour offrir du coaching de haut niveau.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature">
                    <img src="img/icon/feature_icon_4.png" alt="#">
                    <h4>Excellent rapport Qualité-Prix</h4>
                    <p>Nous vous offrons une variété de services d'une qualité hors pair à des prix très compétitifs.</p>
                </div>
            </div>
        </div>
    </div>
</section>