<!-- footer part start-->
<footer class="footer-area section_padding">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-lg-3">
                <div class="single-footer-widget footer_1">
                    <h4>À propos</h4>
                    <p>Notre équipe est formée de joueurs et de directeurs techniques qui ont œuvré
                        dans différentes organisations au travers d’une multitude
                        d’écoles autant participatif que compétitif.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget footer_2">
                    <h4>Contactez nous</h4>
                    <div class="contact_info">
                        <h2>+1-581-998-1626</h2>
                        <h2>info@coachpy.com</h2>
                        <p>Lévis, Québec, Canada</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-5">
                <div class="single-footer-widget footer_2">
                    <h4>Newsletter</h4>
                    <p>Pour tout savoir sur nos nouveautés d'entrainement, capsule d'information et camps d'entrainement à venir.
                    </p>
                     <div id="mc_embed_signup">
                        <form target="_blank"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get" class="subscribe_form relative mail_part">
                            <input type="email" name="email" id="newsletter-form-email" placeholder="Email"
                                class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = ' Email '">
                            <button type="submit" name="submit" id="newsletter-submit"
                                class="email_icon newsletter-submit button-contactForm">Souscrire<i class="ti-arrow-right"></i></button>
                            <div class="mt-10 info"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="copyright_part_text">
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="footer-text m-0">Coach PY &copy; <script>document.write(new Date().getFullYear());</script> | Tous droits réservés</p>
                        </div>
                        <div class="col-lg-6">
                            <div class="social_icon">
                                <a href="https://fr-ca.facebook.com/CoachPY/"> <i class="ti-facebook"></i> </a>
                                <a href="#"> <i class="ti-twitter-alt"></i> </a>
                                <a href="https://www.instagram.com/coach_py/"> <i class="ti-instagram"></i> </a>
                                <a href="https://www.youtube.com/watch?v=A0AVyTQRsdA&amp;feature=youtu.be" title="Youtube" > <i class="ti-youtube"></i></a>
               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer part end-->