<section class="popular_cource section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="section_title text-center">
                    <h2>Nos services de feu</h2>
                    <p>Un évantail varié de services offert pour répondre à vos besoins d'entrainement autant hors glace que sur la patinoire.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single_popular_cource">
                    <img src="img/ice/coaches_speech_green.jpg" alt="">
                    <h3> Hockey - Power Skating, Ability & Shooting <span><small>Clinique</small></span></h3>
                    <p>Vaste gammes de cliniques spécialisées favorisant une progression en puissance, agilité et précision.</p>
                    <a href="#" class="btn_2">Réservez maintenant</a>
                </div>
            </div>
          
            <div class="col-lg-4 col-sm-6">
                <div class="single_popular_cource">
                    <img id="img_DocPreview" src="img/dumpNchange.jpg" style="max-height: 300px;" />
                    <h3>Articles de sport <span><small>Sur demande</small></span></h3>
                    <p>Gamme d'articles de sport aux éffigies de Coach PY  </p>
                    <a href="#" class="btn_2">Réservez maintenant</a>
                </div>
            </div>  
            <div class="col-lg-4 col-sm-6">
                <div class="single_popular_cource">
                    <img src="img/strategy1.jpg" alt="">
                    <h3>Système de jeu et stratégie <span><small>Sur demande</small></span></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <a href="#" class="btn_2">Réservez maintenant</a>
                </div>
            </div>
        </div>
    </div>
</section>