<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>

  <style>
    .breadcrumb_img {
      /* background-image: url("../img/RinguetteGroupe.thin.jpg");*/
      background-image: url("../img/coaching.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 30px;
    }
  </style>

  <body>
    <% include partials/top_nav %>

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_img ">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="breadcrumb_iner text-center">
                <div class="breadcrumb_iner_item_contrast">
                   <!-- <h2>Videos</h2> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- breadcrumb start-->
    <!-- about part here-->
<section class="about_part padding_bottom overflow-hidden">
    <div class="container-fluid p-lg-0">
        <div class="row align-items-center justify-content-end">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="about_text">
                    <h2>Coach PY. &nbsp; Une équipe dédié à vos jeunes depuis 2015.</h2>
                    <p>Notre organisation est formée de joueurs actifs et de directeurs techniques qui ont œuvré dans différentes organisations, autant de niveau 
                        participatif que compétitif.</p>
                    <p>Pour garantir une qualité de service hors pair,notre équipe se complète avec un HeadCoach ayant plus de 20 d'expérience comme entraineur, 
                        directeur technique, préparateur sportif et spécialiste en power skating.</p>
                    <a href="#" class="btn_1">Voir nos Produits et Services</a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-6">
                <div class="about_img">
                    <img src="img/about_img.png" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about part end--> <!-- about part here-->
<section class="about_part padding_bottom overflow-hidden">
    <div class="container-fluid p-lg-0">
        <div class="row align-items-center justify-content-end">
            <div class="col-lg-5 offset-lg-1 col-md-6">
                <div class="about_img">
                    <img src="img/ice/barriere.jpg" alt="#">
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="about_text highlight">
                    <h2>Un travail d'équipe sans barrière...</h2>
                    <p>Notre <span>mission</span> est d'offrir une formation de qualité performance accessible à tous dans un cadre d'effort et de respect pour la <span>passion</span> du sport.</p>
                </div>
            </div>  
        </div>
    </div>
</section>
<!-- about part end--> 


<% include partials/features %>

<% include partials/client_review %>

    <% include partials/footer %>
  </body>
</html>
