<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>

  <style>
    .breadcrumb_img {
      background-image: url("../img/coming_soon.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 30px;
     
    }
  </style>

  <body>
    <% include partials/top_nav %>

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_img ">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb_iner text-center">
              <div class="breadcrumb_iner_item_contrast">
                 <!-- <h2>Videos</h2> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- breadcrumb start-->


    <% include partials/footer %>
  </body>
</html>
