<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>

  <body>
    <% include partials/top_nav %> 
    <% include partials/banner %> 
    <% include partials/services_top3 %> 
    <% include partials/features %> 
    <% include partials/about_short %> 
    <% include partials/client_review %> 
    <% include partials/become_member %> 
    <% include partials/footer %>
  </body>
</html>
<!-- 

https://youtu.be/rQD7OkD9Mv0    -    ringuette feinte slowmo 
https://youtu.be/Hunkc5mBEyE    -    exercice patin virage & balance
https://youtu.be/8SE_u0nWenc    -    exercice patin parcours
https://youtu.be/PeLh-aVfpEg    -    1on1 Entrée de zone
https://youtu.be/tHtIv2stV-M    -    Wrist shot
https://youtu.be/dAUqSFWZcu4    -    Intro slowmo
https://youtu.be/9yxhCtcCiQw    -    On Ice follow....  shaky
https://youtu.be/_i9HCdrkvkc    -    Technique . Reverse

Autre Channel:

https://youtu.be/A0AVyTQRsdA    -     ProShot 2016            
https://youtu.be/J48Ir8YzKwg    -     powerdrill





le drill de la semaine ou des vidéos d'entrainements hors-glace, 
des sections pour les entraineurs et des sections vidéos 
et en demande spéciale une section pour la RINGUETTE...
parlant de vidéo nous avons maintenant notre propre chaine YOU TUBE (voir lien ci-dessous) 
vous pouvez aller voir si votre enfant est la vedette du jour!!!!!! Ne lâchez pas gang!!! 
Nous repatinerons bientôt et le camp d'été 2k20 sortira sous peu!!!



-->
