<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>

  <style>
    .breadcrumb_img {
      background-image: url("../img/banner_bg2.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 30px;
    }
  </style>

  <body>
    <% include partials/top_nav %>

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="breadcrumb_iner text-center">
                <div class="breadcrumb_iner_item">
                  <h2>Nos Produits et Services</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- breadcrumb end-->
  
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="section_title text-center padding_text">
            <p>
              Un évantail varié offert pour répondre à vos besoins d'entrainement
              autant hors glace que sur la patinoire.
            </p>
          </div>
        </div>
      </div>
  
      <section class="popular_cource single_page_popular_cource ">
        <div class="container">
          <div class="row ">
            <div class="col-lg-4 col-sm-6">
              <div class="single_popular_cource">
                <!-- <img src="img/single_cource_1.png" alt=""> -->
                <video controls autoplay muted loop width="360px" height="300px">
                  <source
                    src="img\ice\CoachPY.Technique.Reverse.mp4"
                    type="video/mp4"
                  />
                  Your browser does not support the video tag.
                </video>
                <h3>
                  Hockey - Power Skating, Ability & Shooting
                  <span><small>Clinique</small></span>
                </h3>
                <p>
                  Vaste gammes de cliniques spécialisées favorisant une
                  progression en puissance, agilité et précision.
                </p>
                <a href="#" class="btn_2">Réservez maintenant</a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="single_popular_cource">
                <!-- <img src="img/single_cource_2.png" alt=""> -->
  
                <video controls autoplay muted loop width="360px" height="300px">
                  <source
                    src="img\ice\Ringuette.feinte.shot.slowmotion.mp4"
                    type="video/mp4"
                  />
                  Your browser does not support the video tag.
                </video>
                <h3>
                  Ringuette - Power Skating, Ability & techniques
                  <span><small>Clinique</small></span>
                </h3>
                <p>
                  Vaste gammes de cliniques spécialisées favorisant une
                  progression en puissance, agilité et précision.
                </p>
                <a href="#" class="btn_2">Réservez maintenant</a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="single_popular_cource">
                <img src="img/single_cource_1.png" alt="" />
                <h3>
                  Entrainement Hors-Glace <span><small>Clinique</small></span>
                </h3>
                <p>
                  Développement de bases solides de conditionnement physique et
                  musculation avec un plan de nutrition adapté favorisant un
                  développement physique complet.
                </p>
                <a href="#" class="btn_2">Réservez maintenant</a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="single_popular_cource">
                <img src="img/strategy1.jpg" alt="" />
                <h3>
                  Système de jeu et stratégie
                  <span><small>Sur demande</small></span>
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim ad minim veniam.
                </p>
                <a href="#" class="btn_2">Réservez maintenant</a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="single_popular_cource highlight">
                <img src="img/teamNsolo.png" alt="" />
                <h3>
                  Coaching privé<span><small>Sur demande</small></span>
                </h3>
                <p>
                  Tous nos services de coaching sont offert et adaptés pour une
                  spécifiquement pour les besoins de votre <span>équipe</span> ou
                  pour une progression <span>individuelle</span> personalisée.
                </p>
                <a href="#" class="btn_2">Réservez maintenant</a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="single_popular_cource">
                <img
                  id="img_DocPreview"
                  src="img/dumpNchange.jpg"
                  style="max-height: 300px;"
                />
                <h3>
                  Articles de sport <span><small>Sur demande</small></span>
                </h3>
                <p>Gamme d'articles de sport aux éffigies de Coach PY</p>
                <a href="#" class="btn_2">Réservez maintenant</a>
              </div>
            </div>
          </div>
        </div>
      </section>


    <% include partials/features %>

    <% include partials/footer %>
  </body>
</html>
