<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>

  <style>
    .breadcrumb_img {
      background-image: url("../img/banner_bg2.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 30px;
    }
  </style>

  <body>
    <% include partials/top_nav %>

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_img ">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb_iner text-center">
              <div class="breadcrumb_iner_item_contrast">
                 <h2>Videos</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- breadcrumb start-->


    <section class="about_part padding_top overflow-hidden">
      <div class="container-fluid p-lg-0">
          <div class="row align-items-center justify-content-end">
              <div class="col-xl-4 col-lg-6 col-md-6">
                  <div class="about_text">
                      <h2>Pro Shot 2016</h2>
                      <p>Une démonstration efficace de la valeur ajoutée à l'utilisation d'outil de travail à l'avant-garde.</p>
                      <a href="#" class="btn_1">Voir nos Produits et Services</a>
                  </div>
              </div>
              <div class="col-lg-5 offset-lg-1 col-md-6">
                  <div class="about_img">
                           
        <iframe width="560" height="315" src="https://www.youtube.com/embed/A0AVyTQRsdA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
                  </div>
              </div>
          </div>
      </div>
    </section>

    <section class="about_part padding_bottom overflow-hidden">
      <div class="container-fluid p-lg-0">
          <div class="row align-items-center justify-content-end">       
            
            <div class="col-lg-5 offset-lg-1 col-md-6">
                  <div class="about_img">
                                        
                        <a href='https://www.youtube.com/channel/UCBN8f8xTRDf0JmQJT9Z-6aQ'><img src='img/utub.png'></a>

                    </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-6">
                  <div class="about_text">
                      <h2>Coach PY - YouTube Channel.</h2>
                      <p>Des capsules techniques, séances d'entrainements et sourires entre les gorgées d'eau... :) </p>
                   </div>
              </div>

          </div>
      </div>
    </section>


    <% include partials/footer %>
  </body>
</html>
